body {
  background-image: url("image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
h2 {
  color: #a8ccd8;
  font-family: "helvetica";

  max-width: 600px;
  margin-right: auto;
  margin-left: auto;

  margin-bottom: 70px;
}
p {
  color: #a8ccd8;
  font-family: "helvetica";
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}
div {
  padding: 20px;
  background-color: #a8ccd8;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  font-family: "helvetica";
  border-radius: 20px;
  text-align: center;
  margin-bottom: 20px;
}
a {
  color: black;
  text-decoration: none;
}

a:hover {
}
div:hover {
  background-color: rgb(219, 180, 255);
  color: rgb(227, 16, 255);
}
h1 {
  color: #a8ccd8;
  font-family: "helvetica";

  max-width: 600px;
  margin-right: auto;
  margin-left: auto;

  margin-bottom: 70px;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}
img {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  display: block;
}
